/* Reset de estilos */
body,
header,
nav,
main,
section,
footer,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'poppins', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  position: relative;
  padding: 20px;
  background-color: #027373;
  color: #fff;
  margin-left: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  cursor: pointer;
}

header .login {
  display: flex;
  align-items: center;
}

header .login img {
  width: 20px;
  cursor: pointer;
}

header .login a {
  text-decoration: none;
  color: #fff;
  padding-left: 10px;
}

/* ASIDE */
aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  background-color: #313348;
  width: 230px;
}

aside .user-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10.5px;
  border-bottom: 0.1px solid rgb(191, 182, 182, 0.1);
}

aside .user-info {
  margin-top: 16px;
  margin-left: 15px;
}

aside #user-name {
  font-weight: 700;
  color: white;
  font-size: 16px;
}

aside #user-type {
  font-size: 14px;
  color: #BFB6B6;
}

aside .user-container img {
  margin-left: 15px;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}

aside nav {
  background-color: #313348;
  width: 100%;
}

aside nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

aside nav ul li {
  display: flex;
  flex-direction: row;
  height: 36px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

aside nav ul li img {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  padding-top: 8px;
}

aside nav ul li a {
  text-decoration: none;
  color: #BFB6B6;
  padding-left: 10px;
  padding-top: 8px;
}

aside nav ul li:hover {
  background-color: #232323;
  padding-left: 1px;
}

/* SAUDAÇÕES */
#container-saudacoes {
  height: 100px;
  background-color: #313348;
  border-radius: 10px;
  margin-left: 250px;
  margin-right: 20px;
  margin-top: 20px;
}

#container-saudacoes .container-titulo {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 700;
  color: white;
}

#container-saudacoes .container-paragrafo {
  padding-left: 20px;
  color: #BFB6B6;
}

#container-dados {
  margin-left: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container-dados .dados-vagas {
  display: flex;
  flex-direction: row;
  background-color: #313348;
  width: 373px;
  border-radius: 10px;
  height: 80px;
  margin-top: 20px;
  cursor: pointer;
}

/* #container-dados .dados-vagas:hover {
  
} */

#container-dados .dados-vagas img {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px;
}

#container-dados .dados-vagas .vagas-num {
  display: flex;
  margin-top: 10px;
}

#container-dados .dados-vagas .vagas-num .num {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

#container-dados .dados-vagas .vagas-num .num-titulo {
  padding-left: 5px;
  font-size: 14px;
  padding-top: 5px;
  color: #BFB6B6;
}

#container-dados .dados-vagas .vagas-descricao {
  font-size: 14px;
  color: #BFB6B6;
}

#container-dados .dados-vagas .container-organizacao {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

/* TÍTULO*/
.pagina-titulo {
  align-self: center;
  color: #232323;
  padding-left: 240px;
  margin-top: 20px;
}

/* PESQUISA */
#pagina-pesquisa {
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 60px;
  height: 40px;
  padding: 15px;
  border-radius: 10px;
  width: 75%;
}

/* TABELA VAGAS*/
.tabela-vagas {
  margin-top: 20px;
  margin-left: 300px;
  color: black;
  width: 75%;
}

.tabela-vagas thead {
  width: 100%;
}

.tabela-vagas thead tr {
  width: 20%;
  color: white;
}

.tabela-vagas thead tr th {
  width: 20%;
  height: 30px;
  background-color: #027373;
  border-radius: 5px;
}

.tabela-vagas tbody tr {
  width: 20%;
}

.tabela-vagas tbody tr:hover {
  background-color: rgb(49, 51, 72, 4%);
}

.tabela-vagas tbody tr td {
  padding: 10px;
  width: 20%;
}

/* FOOTER */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

#container-perfil {
  margin-left: 250px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 548px;
  background-color: #313348;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 40px;
  align-self: center;
}

#container-perfil .container-titulo {
  font-size: 2em;
  font-weight: 600;
  color: white;
  padding-left: 20px;
  padding-top: 40px;
  margin-bottom: 30px;
}

#container-perfil label {
  color: #BFB6B6;
  font-weight: 550;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 13px;
}

#container-perfil #pagina-perfil {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 30px;
  width: 540px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}

#container-perfil .buttons button {
  width: 150px;
  height: 40px;
}

#container-perfil .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

#container-perfil .buttons .button-salvar {
  background-color: #02DC01;
  border-radius: 5px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#container-perfil .buttons .button-cancelar {
  background-color: rgb(255, 89, 0);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

#container-perfil .buttons .button-cancelar:hover {
  background-color: rgb(255, 89, 0, 0.90);
}

#container-perfil .buttons .button-salvar:hover {
  background-color:rgb(2, 220, 1, 0.90);
}
